setuptools<50.0.0
wheel>0.24.0
importlib-metadata
pytest

psutil
coloredlogs
colorama
verboselogs
gsutil
crcmod
pywin32
pscript
https://github.com/flexxui/flexx/archive/master.zip

# pyinstaller
pefile
pywin32-ctypes
tinyaes
