#app {
    height: 100vh;
    overflow-y: auto;
    background-color: var(--bs-dark);
    color: var(--bs-light);
}

.flx-LineEdit {
    width: 100%;
    border-radius: 0.25rem;
}

.nav-pills .flx-Button {
    text-align: start;
}
